/* Add styles to the navbar */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.3rem;
  padding-left: 40px;
  padding-right: 40px;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #444;
}

.nav-link {
  font-size: 1.2rem;
  color: #444;
  margin-left: 5px;
}

/* Add styles to the header section */
.background-image {
  background-image: url('img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  color: #ffffff;
  padding: 3rem;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 3rem;
}

.small-text {
  font-size: 15px;
  line-height: 2;
}

.btn-primary {
  font-size: 1rem;
  padding: 1rem 1rem;
  background-color: rgb(253, 41, 41);
  border-radius: 20px;
  transition: transform 0.8s;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-top: -30px;
  border-color: rgb(253, 41, 41);
}

.btn-primary:hover {
  border-color: #ffffff;
  transform: scale(1.2);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: rgb(253, 41, 41);
}

.btn-primary:active,
.btn-primary.active {
  background-color: rgb(253, 41, 41);
  border-color: #ffffff;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #c0c0c0;
  border-color: #c0c0c0;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: rgb(168, 33, 33);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

#categoryModal .modal-dialog {
  max-width: 1100px;
}

#categoryModal .modal-content {
  height: 600px;
}

/* Center modal */
.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Category boxes */
.list-group-item {
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.list-group a:hover {
  background-color: #bdb76b;
  color: #ffffff;
}

.list-group-item:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  color: #212529;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.list-group-item.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}

.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #ffffff;
  border-color: #ffffff;
}

/* Category title */
.modal-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}











